* {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root {
  --card-shadow: 1px 1px 3px 1px black;
  --button-col: lightgreen;
  --large-text: clamp(1rem, 4vh, 2.5rem);
  --hover-color: palegoldenrod;
}

body {
    background: lightblue;
}

.game-root-menu {
    height: 98%;
    width: 100%;
}

.game-btn-container,.inner-btn-container {
    margin: 0 auto;
    height: 8vh;
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5vh;
    border-bottom: 2px solid black;
}
.game-button,.inner-button {
    width: 25%;
    background-color: var(--button-col);
    border-radius: 5px;
    box-shadow: var(--card-shadow);
    font-size: var(--large-text);
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}
.game-button:nth-of-type(3),.inner-button:nth-of-type(3) {
    width: 40%;
}

.topic-btn-container,.select-btn-container {
    margin: 0 auto;
    padding-top: 0.5vh;
    height: 90vh;
    width: 98%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.topic-button {
    height: 8vh;
    min-height: 40px;
    width: 240px;
    margin-bottom: 2vh;
    box-shadow: var(--card-shadow);
    background-color: var(--button-col);
    border-radius: 10px;
    border: 4px solid silver;
    font-size: var(--large-text);
    font-weight: bold;
}

@media (orientation: portrait) {
    .game-button,.inner-button,.topic-button {
        font-size: 1rem;
    }
}

.game-button:hover,.inner-button:hover,.topic-button:hover {
    background-color: var(--hover-color);
}

.select-container {
    margin: 0 auto;
    width: 98%;
    height: 100%;
}   

.select-btn-grid {
    margin: 0 auto;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(9,1fr);
    gap: 1vh;
}

.select-img-box {
    padding: 10px;
    height: 30vmin;
    width: 45vmin;
    max-width: 23vw;
    box-shadow: var(--card-shadow);
    background-color: lightgray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-img {
    width: 35vmin;
    max-width: 20vmax;
    height: auto;
    max-height: 29vmin;
    border-radius: 15px;
}

@media (orientation: portrait) {
    .select-btn-grid {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(18,1fr);
    }
    .select-img-box {
        height: 40vmin;
        width: 50vmin;
        max-width: 40vw;
    }
}

.selected {
  box-shadow: 0 0 15px 3px red;
  border-radius: 15px;
}

.cards-container {
    height: 96vh;
    width: 98vw;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 15px;
    margin: 0 auto;
    align-content: center;
    justify-content: space-around;
}

.flip-card { 
  display: flex;
  background-color: transparent;
  width: 21vw;
  height: 30vh;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

}

@media (orientation: portrait) {
  .flip-card {
    width: 40vw;
    height: 15vh;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
   height: 100%;
   transition: transform 0.8s;
   transform-style: preserve-3d;
}
  
.flip-card-front, .flip-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 90%;
  box-shadow: 2px 2px 2px 2px black;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
  
.flip-card-front {
  background: var(--button-col);
  border-radius: 5px;
}

.flip-card-front img {
  width: auto;
  overflow: hidden;
  border-radius: 5px;
}
.flip-card-back img {
  width: auto;
  overflow: hidden;
}

.flip-card-back {
  background-color: white;
  border-radius: 5px;
  transform: rotatey(180deg);
}

.hide-me {
  display: none;
  z-index: -20;
}

.conceal-menu {
  overflow: hidden;
  height: 3vh;
}

.conceal-menu:hover {
  height: 8vh;
}
.preload {
  display: none;
}